* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.all {
    display: flex;
}

.all__div-header {
   background-color: blue;
   height: 20%;
}

.all__div-content {
    background-color: blueviolet;
    height: 80%;
}

.all__navigation {
    background-color: red;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    
}