* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
}

body {
    display: flex;
}

.main-container__header {
   height: 20%;
   background-image:url('../image/f1-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;
    
}



.main-container__header-title {
    font-size: 140px;
    color: red;
    font: italic;
    font-family: "Formula1 Regular", sans-serif;
    display: flex;
    justify-content:center;
}

.main-container__content {
    position: relative;
}

.main-container__content-wrapper {
    height: 80%;
    background-image:url('../image/f1-car.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-container__content-wrapper::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}

.main-container__content-text {
    position: relative;
    color: white;
    z-index: 2;
    padding: 20px;
    line-height: 24px;
}

.main-container__content-list{
    display: table-row;
    justify-content: space-between;
    flex-direction: column;
    
}

.main-container__content-list_elements-inside{
    padding-left:40px
}

.main-container__content-table {
    position: relative;
    font-size: 10px;
    display: table-row;
    justify-content: space-between;

}

.main-container__content-table__header {
    background-color: black;
    color: white;
}

.main-container__content-table__content {
    background-color: white;
    color: black;
}


.main-container__content-table__content-text {
    text-align: center;
}

.main-container__content-video {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 280px;
    width: 480px;
}

.navigation {
    color:gray;
    width: 100px;
    
    display: inline-block; 
    justify-content: flex-end;
    
}

.navigation__logo {
    width: 100px;
    height: 70px;
}